.col-sm-6
  %h2 New List
  %form#form.new(action='/new/list' method='post')
    .form-group
      %input(type='text' id='newlist' name='list[name]' value='new list')
    %input.btn.btn-primary(type='submit' value='New list')
  %h3 All Lists
  %ul.lists#lists
  - @lists.each do |list|
    = haml :list, locals: { list: list }
